.cabecalho {
    background-color: var(--branco);
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container__texto {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}



